.comment-section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #3498db;
  border-radius: 8px;
  background-color: #ecf0f1;
  font-family: 'Arial', sans-serif;

  .timestampButton {
    position: absolute;
    top: 8%;
    right: 3%;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
  }

  h2 {
    color: #3498db;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 15px;
      background-color: #fff;
      padding: 10px;
      border-radius: 8px;

      &:not(:last-child) {
        border-bottom: 1px solid #bdc3c7;
      }

      .comment-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }

      .comment-text {
        margin-bottom: 10px;
        position: relative;

        .timestamp {
          position: absolute;
          top: 0;
          right: 0;
          color: #3498db;
          font-size: 0.8rem;
        }
      }

      .comment-buttons {
        display: flex;
        align-items: flex-end;
      }

      button {
        padding: 8px;
        cursor: pointer;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-family: 'Arial', sans-serif;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin-top: 10px;

        li {
          margin-bottom: 5px;
          background-color: #f2f2f2;  // Background color for reply comments
          padding: 8px;
          border-radius: 4px;
        }
      }
    }
  }

  textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    resize: vertical;
  }

  // Media queries for mobile and tablet
  @media (max-width: 768px) {
    .timestampButton {
      top: 5%;
      right: 5%;
    }

    ul li {
      padding: 8px;
    }

    textarea {
      padding: 6px;
    }
  }
}
